/* --- MENU STYLES --- */

.rich-toolbar {
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom-color: #ffd8b1;
}

.rich-menu-list-bg {
	background-image: url(../images/menu/menul.gif);
	background-repeat: repeat;
}

.rich-ddmenu-label-select {
   background-color: #fde5cb;
   border-color: #fed7b0;
}

.rich-menu-list-border {
   border-color:#fed7b0;
}

.rich-menu-list-bg {
   border-color:#fed7b0;
}

.rich-menu-item-hover {
	background-color: #fde5cb;
	border-color: #fde5cb;
}